services:
  api:
    image: xaticraft
    container_name: xc-api
    build:
      context: .
      dockerfile: XatiCraft/Dockerfile
    environment:
      - CERT_DIR=${CERT_DIR}
      - CERT_PATH=${CERT_PATH}
      - CERT_PASS=${CERT_PASS}
    volumes:
      - ./ProtectionKeys:/app/keys
    networks:
      - xc-network

  postgres:
    image: postgres:16
    container_name: xc-pg
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: xc-db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - xc-network

  nginx:
    image: nginx:alpine
    container_name: xc-nginx
    ports:
      - "${INCOMING_PORT}:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
    networks:
      - xc-network

networks:
  xc-network:

volumes:
  pgdata: