services:
  postgres:
    image: docker.io/library/postgres:16
    container_name: xc-pg
    mem_limit: 1g
    mem_reservation: 512m
    environment:
      POSTGRES_USER: test
      POSTGRES_PASSWORD: testTest123
      POSTGRES_DB: xc-db
    ports:
      - "5442:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - xc-network
  
  mongo:
    image: docker.io/mongodb/mongodb-community-server:8.0-ubi8
    container_name: xc-mongo
    mem_limit: 1g
    mem_reservation: 512m
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=test
      - MONGO_INITDB_ROOT_PASSWORD=testTest123
    volumes:
      - mongo-data:/data/db
      - mongo-config:/data/config
    networks:
      - xc-network

networks:
  xc-network:

volumes:
  pgdata:
  mongo-data:
  mongo-config: