services:
  api:
    image: xaticraft
    scale: 2
    build:
      context: .
      dockerfile: XatiCraft/Dockerfile
    deploy: { } # ignored outside swarm, kept empty to avoid confusion
    mem_limit: 512m
    mem_reservation: 256m
    environment:
      - CERT_DIR=${CERT_DIR}
      - CERT_PATH=${CERT_PATH}
      - CERT_PASS=${CERT_PASS}
    volumes:
      - ./ProtectionKeys:/app/keys
    networks:
      - xc-network

  postgres:
    image: postgres:16
    container_name: xc-pg
    mem_limit: 1g
    mem_reservation: 512m
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: xc-db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - xc-network

  nginx:
    image: nginx:alpine
    container_name: xc-nginx
    mem_limit: 1g
    mem_reservation: 64m
    ports:
      - "${INCOMING_PORT}:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
    networks:
      - xc-network

  mongo:
    image: mongodb/mongodb-community-server:8.0-ubi8
    container_name: xc-mongo
    mem_limit: 1g
    mem_reservation: 512m
    ports:
      - "${MONGO_PORT}:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASS}
    volumes:
      - mongo-data:/data/db
      - mongo-config:/data/config
    networks:
      - xc-network

networks:
  xc-network:

volumes:
  pgdata:
  mongo-data:
  mongo-config: